In [1]:
# Series (collection of values)
# DataFrame (collection of Series objects)

In [2]:
import pandas as pd
data = pd.read_csv('data.csv')
print(data.loc[:3])

   Reporting Week  Sail Year  Sail Month  F Pol Dep Time Id  \
0          201701       2017           1           20170101
1          201701       2017           1           20170101
2          201701       2017           1           20170101
3          201701       2017           1           20170101

   L Pod Arr Time Id  Primary Svvd Close Date Cgo Trade Cde  \
0           20160105               20170101.0           ICT
1           20160105               20170101.0           ICT
2           20160105               20170101.0           ICT
3           20160105               20170101.0           ICT

  Cgo Trade Lane Cde Shipment DIR BPM Sales Region            ...             \
0                ICT            S            B.XMN            ...
1                ICT            S            B.XMN            ...
2                ICT            S            B.XMN            ...
3                ICT            S            B.XMN            ...

  GBL Grp Main Nme BPM Sales Country F_POL_DEP_TIME_ID INLAND_CGO_ID  \
0              NaN             China          20170101             1
1              NaN             China          20170101             1
2              NaN             China          20170101             1
3              NaN             China          20170101             1

  SC_COMMODITY_GROUP C3 Adjustment Dest Office Commodity Group   品名  \
0                NaN        278.22         ZUH             NaN  NaN
1                NaN         28.77         ZUH             NaN  NaN
2                NaN        108.79         ZUH             NaN  NaN
3                NaN         26.58         ZUH             NaN  NaN

   Primary SVVD Season Type
0                       NaN
1                       NaN
2                       NaN
3                       NaN

[4 rows x 80 columns]

In [7]:
series_sm = data['Sail Month']
print(type(series_sm))
print(series_sm[0:20])
series_bsc = data['BPM Sales Country']
print(series_bsc[0:20])

<class 'pandas.core.series.Series'>
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: Sail Month, dtype: int64
0            China
1            China
2            China
3            China
4            China
5        Indonesia
6        Indonesia
7        Indonesia
8        Indonesia
9        Indonesia
10       Indonesia
11       Indonesia
12       Indonesia
13       Indonesia
14       Indonesia
15       Indonesia
16       Indonesia
17       Indonesia
18    Saudi Arabia
19    Saudi Arabia
Name: BPM Sales Country, dtype: object

In [13]:
# Import the Series object from pandas
from pandas import Series

sm = series_sm.values
# print(type(sm))
# print(sm)
bsc = series_bsc.values
# print(bsc)
series_custom = Series(sm, index=bsc)
series_custom[['Indonesia', 'Saudi Arabia']]
fiveten = series_custom[5:10]
print(fiveten)

Indonesia    1
Indonesia    1
Indonesia    1
Indonesia    1
Indonesia    1
dtype: int64

In [ ]:
original_index = series_custom.index.tolist()
# print(original_index)
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
print(sorted_by_index)

In [18]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2[0:10])
print(sc3[0:10])

China    1
China    1
China    1
China    1
China    1
China    1
China    1
China    1
China    1
China    1
dtype: int64
China      1
Ecuador    1
Peru       1
Peru       1
Panama     1
Panama     1
China      1
Ecuador    1
China      1
China      1
dtype: int64

In [22]:
# The values in a Series object are treated as an ndarray, the core data type in NumPy
import numpy as np
# Add each value with each other
# print(np.add(series_custom, series_custom))
# Apply sine function to each value
# np.sin(series_custom)
# Return the highest value (will return a single value not a Series)
np.max(series_custom)

1

In [ ]:
#will actually return a Series object with a boolean value for each film
series_custom > 50
series_greater_than_50 = series_custom[series_custom > 50]

criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_criteria = series_custom[criteria_one & criteria_two]
print(both_criteria)

In [ ]:
# data alignment same index
rt_critics = Series(data['BPM Sales Country'].values, index=data['Sail Month'])
rt_users = Series(data['Sail Month'].values, index=data['BPM Sales Country'])
rt_mean = (rt_critics + rt_users)/2

print(rt_mean)